* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  font-family: "Satoshi", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: $dark;

  img {
    width: 100%;
  }
}
body {
  overflow-x: hidden;
}

// .cls-1 {
//   font-size: 14.63px;
//   fill: #0071bc;
//   font-family: FiraCode-Bold, Fira Code;
//   font-weight: 700;
// }
