// Screen sizes
$largeScreens: 1920px;
$mediumScreens: 1224px;
$mobileScreens: 428px;

// Colors
$dark: #242424;
$black: #000000;
$blue: #098fdf;
$blueAccent: #dbe5ea;
$grey: #c0c5c8;
$white: #ffffff;
$offWhite: #f8f8f8;
